{% extends "base.twig" %}

{% block title %}Manual{% endblock %}

{% block content %}
    <h2>Development</h2>
    <p>
        This plugin implements
        <a href=" https://membermouse.uservoice.com/knowledgebase/articles/319064-api-documentation">MemberMouse API</a>.
        Using this API provides data integrity for MemberMouse plugin.
    </p>
    <h2>Users list page</h2>
    <p>
        Was implemented search and pagination. The list is sorted by registration date.
    </p>
    <p>
        <a href="#"><span class="dashicons dashicons-admin-generic"></span></a> - Edit user data.<br>
        <a href="#"><span class="dashicons dashicons-welcome-widgets-menus"></span></a> - Transactions list.<br>
        <a href="#"><span class="dashicons dashicons-admin-network"></span></a> - Change permissions.<br>
    </p>
    <h2>Refunds</h2>
    <p>List of transactions marked for refund customer</p>
    <p>
        <a title="delete" href="#"><span class="dashicons dashicons-no"></span></a> - Remove from list.<br>
        <a title="delete" href="#"><span class="dashicons dashicons-controls-forward"></span></a> - Go to the MemberMouse plugin user page.<br>
    </p>
{% endblock %}

